/*main*/
body{
	/*background-color: #FFFFFF;
	background-image:url('images/background.jpg');
	background-repeat: repeat-x;
	background-position:left top;*/
	/*background:#FFFFFF url('../images/background.jpg') repeat left top;*/
	margin:auto auto;
	width: 50%;	
}
p{
	text-align: center;
}


/*1.head*/
.hearder{
overflow:visible;
}
.hearder_cnt{
	height: 100px;
	overflow: visible;
}
.containter{
	width:1002px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}
.hearder_cnt_1{
	width:300px;
	/*padding-right: 0;*/
	height:60px;
	padding:;
	overflow: hidden;
	float: left;
}
.header_cnt_l a {
    display: block;
    width: 100%;
    height: 100%;
}
.header_cnt_l a img {
    height: 100%;
    *display: block;
}
div.header_cnt_2 {
    float: right;
    width: 450px;
    height: 70px;
    overflow: visible;
    padding-top: 20px;
}
div.header_cnt_2 .header_cnt_2_t {
    width: 280px;
    height: 36px;
    float: left;
    position: relative;
}
.header_cnt_2 .header_cnt_2_t .search_head {
    width: 220px;
    height: 34px;
    line-height: 34px;
    padding-left: 14px;
    border: 1px solid #bebebe;
    color: #444;
}
div.header_cnt_2 .header_cnt_2_t a {
	display: block;
    width: 45px;
    background: url(../images/sy_icon.png) no-repeat center center;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-indent: -999px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}
.login-box {
    width: 105px;
    height: 25px;
    margin: 5px 0 0 25px;
    float: left;
    position: relative;
}
.login-box .no_sign_img {
    padding-top: 4px;
    float: left;
    margin-right: 10px;
    *width: 20px;
}
.login-box .btn_or_nickname {
    width: 80px;
    height: 25px;
    float: left;
}
.login-box .open-login ,.login-box .open-reg{
    padding-right: 5px;
    border: 0;
    font-size: 14px;
    height: 25px;
    color: #666;
    float: left;
    background: 0 0;
}
.login-box i {
    border-left: 1px solid #d8d8d8;
    display: block;
    height: 18px;
    margin-top: 3px;
    width: 0;
    float: left;
}
.contentwrap{
	width:1000px;
}
/*2.menu*/
.menu{
border:1px #B0C4DE solid;
text-align: center;
margin:10px auto;
height:50px;
width:100%;

}
.menu ul{
list-style-type:none;
background-color: #fff;
clear:both;
}
.menu li{
float:left;
width:20%;
}
.menu li a{
display: block;
padding: 16px 0px;
text-decoration: none;
color: #0080FF;
}
.on{
background-color: #F7BE81;
color: #00FF00;
}

/*3.content*/

.video{
	padding:auto auto;
	height:100%;
	position: relative;
}
.note{
min-height:800px;
width:100%;
color: #0B0B3B;
border:1px #B0C4DE solid;
}
.video_left{
	text-align:center;
	width: 70%;
	height:100%;
}
.video_right{
	position: relative;
	text-align:center;
	width: 30%;
	height:100%;
}
.lunboWrap{
	width: 500px;height: 450px;
	margin:25px auto 25px auto; 
}
.lunbodiv{width: 500px;height: 400px;overflow: hidden;;}
.lunboimg{width: 100%;height: 100%;overflow: hidden;}
.slider_indicator{
	margin:10px auto;
}
.slider_indicator_btn{
	display: inline-block;
	margin-right:10px;
	width:12px;
	height: 12px;
	background-color: #eee;
	border-radius: 100%;
}
.slider_indicator_btn:hover{
	background-color:#ff3633;
}
.slider_indicator .active{
	background-color:#ff3633;
}
.video_top_containter{
	font-size: 14px;
	margin: 10px auto;
}
.video_top{
	padding:5px 0px 5px 0px;
}
.video_top_containter p:hover{
	background-color: #f5f6f5;
	color: #eee;
}
.video_top :hover{
	background-color: #f5f6f5;
}
.video_top a{
	color: #07519a;
}
.div_top {
	color: #07519a;
	font-size: 14px;
	margin: 10px auto;
	clear:both;
}
.div_top div{
	float: left;
	width:33.333333%;
}
.div_top div a{
	color: red;
}

/*video_img_div*/
.area{
	margin:10px auto;
}
.title{
	position: relative;
	background: #f7f9fa;
	height: 38px;
	line-height: 38px;
}
.title .label{
color: #000;
font-size: 14px;
font-weight: 700;
padding-left: 10px;
}
.title .more{
position: absolute;
color: #999;
font-size: 14px;
right: 15px;
top:0;
}
.video_img_div{
	width: 1000px;
	border:1px #B0C4DE solid;
	height: 220px;
}
.video_img_div ul{
	float: left;
}
.video_img_div  li{
	float: left;
	display: inline;
	overflow: hidden;
	padding-bottom: 10px;
	margin:10px 10px;
}
.video_img_div  a{
	float: left;
	display: inline;
	height: 200px;
	width: 180px;
	background: url(../images/img1.jpg) no-repeat center center;
}
.headerTitle{
position: relative;
display: block;
padding: .186667rem 2rem;
overflow: hidden;
}
.headerTitleWrap{
	background-color: transparent;
	color: #07519a;
	margin:5px 10px;
}
.headerTitleWrap:hover{
	background-color: #f5f6f5;
}
.headerTitleRow{
	display: table;
	padding: 0;
	width: 100%;
	table-layout: fixed;
	vertical-align: middle;
	line-height: 1rem;
	position: relative;
}
.menuList li:before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 1px;
background: #eee;
}
.headerTitleRow .souTitle:before{
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #eee;
	position:absolute;
}
.headerTitleRow .leftCon,.headerTitleRow .midCon,.headerTitleRow .rightCon{
	display: table-cell;
	vertical-align: middle;
}
/*3分类*/
.sort_area{
border:1px #B0C4DE solid;
margin:10px auto;
}
.sort_area ul{
list-style-type:none;
clear:both;
height: 22px;
line-height: 22px;
margin:10px auto;
}
.sort_title{
text-align:center;
margin:20px auto;
}
.sort_area li{
list-style-type: none;
text-align:center;
float:left;
width: 10%;
}
.sort_area li a{
display: block;
text-decoration: none;
}

#menu li:hover{
background-color: #4CAF50;
color: white;
}
#menu li.active {
background-color: #4CAF50;
color: white;
}


a{
	color: #333;
	text-decoration: none;
}

/*video list*/
#video_list_content{
	border:1px #B0C4DE solid;
	height:500px;
}
#video_list{

}
.pages{
	height:30px;
	width: 100%;
	border:1px #B0C4DE solid;
	text-align: center;
}

/*4.版权*/
.footer{
	border:1px #B0C4DE solid;
	background: #f5f6f5;
	margin-bottom: 20px;
	margin-top: 10px;
}

.footer_containter{
	height:44px;

	line-height: 22px;
	font-size: 14px;
	margin: 10px auto;
	color: #999;
}