<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfc.es.dao.AssetMapper">

    <resultMap id="BaseResultMap" type="com.sfc.es.entity.po.Asset" >
        <result column="asset_id" property="AssetId" />
        <result column="income" property="income" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="expend" property="expend" />
        <result column="deposit" property="deposit" />
        <result column="description" property="description" />
        <result column="update_by" property="updateBy" />
        <result column="status" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
        `asset_id`,
        `income`,
        `create_by`,
        `update_time`,
        `create_time`,
        `user_id`,
        `expend`,
        `deposit`,
        `description`,
        `update_by`,
        `status`
    </sql>

    <select id="findPageInfo" parameterType="com.sfc.es.entity.po.Asset" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from asset
        <where>
                    <if test="AssetId != null">
            and asset_id = #{AssetId}
                    </if>
                    <if test="income != null">
            and income = #{income}
                    </if>
                    <if test="createBy != null">
            and create_by = #{createBy}
                    </if>
                    <if test="updateTime != null">
            and update_time = #{updateTime}
                    </if>
                    <if test="createTime != null">
            and create_time = #{createTime}
                    </if>
                    <if test="userId != null">
            and user_id = #{userId}
                    </if>
                    <if test="expend != null">
            and expend = #{expend}
                    </if>
                    <if test="deposit != null">
            and deposit = #{deposit}
                    </if>
                    <if test="description != null">
            and description = #{description}
                    </if>
                    <if test="updateBy != null">
            and update_by = #{updateBy}
                    </if>
            and status = 1
        </where>
        order by id desc
    </select>


    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from asset
        where id = #{id} and status= 1
    </select>

    <insert id="insert" parameterType="com.sfc.es.entity.po.Asset" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into asset (
            `asset_id`,
            `income`,
            `create_by`,
            `update_time`,
            `create_time`,
            `user_id`,
            `expend`,
            `deposit`,
            `description`,
            `update_by`,
            `status`
        )
        VALUES(
            #{AssetId},
            #{income},
            #{createBy},
            now(),
            now(),
            #{userId},
            #{expend},
            #{deposit},
            #{description},
            #{updateBy},
            #{status}
        )
    </insert>

    <update id="update" parameterType="com.sfc.es.entity.po.Asset">
        update asset
        <set>
        <if test="AssetId != null">
                asset_id = #{AssetId},
        </if>
        <if test="income != null">
                income = #{income},
        </if>
        <if test="createBy != null">
                create_by = #{createBy},
        </if>
        <if test="updateTime != null">
        </if>
        <if test="createTime != null">
        </if>
        <if test="userId != null">
                user_id = #{userId},
        </if>
        <if test="expend != null">
                expend = #{expend},
        </if>
        <if test="deposit != null">
                deposit = #{deposit},
        </if>
        <if test="description != null">
                description = #{description},
        </if>
        <if test="updateBy != null">
                update_by = #{updateBy},
        </if>
        <if test="status != null">
                status = #{status},
        </if>
            update_time = now(),
        </set>
        where id = #{id}
    </update>

    <insert id="insertBatch" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        insert into asset (
                    `asset_id`,
                    `income`,
                    `create_by`,
                    `update_time`,
                    `create_time`,
                    `user_id`,
                    `expend`,
                    `deposit`,
                    `description`,
                    `update_by`,
                    `status`
            )
            VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            ( 
                    #{item.AssetId},
                    #{item.income},
                    #{item.createBy},
                    #{item.updateTime},
                    #{item.createTime},
                    #{item.userId},
                    #{item.expend},
                    #{item.deposit},
                    #{item.description},
                    #{item.updateBy},
                    #{item.status}
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="com.sfc.es.entity.po.Asset">
        update asset set
        <if test="updateBy != null">
            update_by = #{updateBy},
        </if>
        status = 0,
        update_time = now()
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </delete>
</mapper>
