<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfc.es.dao.BirthdayMapper">

    <resultMap id="BaseResultMap" type="com.sfc.es.entity.po.Birthday" >
        <result column="bir_id" property="BirId" />
        <result column="birthday" property="birthday" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="nickname" property="nickname" />
        <result column="update_by" property="updateBy" />
        <result column="username" property="username" />
        <result column="status" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
        `bir_id`,
        `birthday`,
        `create_by`,
        `update_time`,
        `create_time`,
        `nickname`,
        `update_by`,
        `username`,
        `status`
    </sql>

    <select id="findPageInfo" parameterType="com.sfc.es.entity.po.Birthday" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from birthday
        <where>
                    <if test="BirId != null">
            and bir_id = #{BirId}
                    </if>
                    <if test="birthday != null">
            and birthday = #{birthday}
                    </if>
                    <if test="createBy != null">
            and create_by = #{createBy}
                    </if>
                    <if test="updateTime != null">
            and update_time = #{updateTime}
                    </if>
                    <if test="createTime != null">
            and create_time = #{createTime}
                    </if>
                    <if test="nickname != null">
            and nickname = #{nickname}
                    </if>
                    <if test="updateBy != null">
            and update_by = #{updateBy}
                    </if>
                    <if test="username != null">
            and username = #{username}
                    </if>
            and status = 1
        </where>
        order by id desc
    </select>


    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from birthday
        where id = #{id} and status= 1
    </select>

    <insert id="insert" parameterType="com.sfc.es.entity.po.Birthday" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into birthday (
            `bir_id`,
            `birthday`,
            `create_by`,
            `update_time`,
            `create_time`,
            `nickname`,
            `update_by`,
            `username`,
            `status`
        )
        VALUES(
            #{BirId},
            #{birthday},
            #{createBy},
            now(),
            now(),
            #{nickname},
            #{updateBy},
            #{username},
            #{status}
        )
    </insert>

    <update id="update" parameterType="com.sfc.es.entity.po.Birthday">
        update birthday
        <set>
        <if test="BirId != null">
                bir_id = #{BirId},
        </if>
        <if test="birthday != null">
                birthday = #{birthday},
        </if>
        <if test="createBy != null">
                create_by = #{createBy},
        </if>
        <if test="updateTime != null">
        </if>
        <if test="createTime != null">
        </if>
        <if test="nickname != null">
                nickname = #{nickname},
        </if>
        <if test="updateBy != null">
                update_by = #{updateBy},
        </if>
        <if test="username != null">
                username = #{username},
        </if>
        <if test="status != null">
                status = #{status},
        </if>
            update_time = now(),
        </set>
        where id = #{id}
    </update>

    <insert id="insertBatch" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        insert into birthday (
                    `bir_id`,
                    `birthday`,
                    `create_by`,
                    `update_time`,
                    `create_time`,
                    `nickname`,
                    `update_by`,
                    `username`,
                    `status`
            )
            VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            ( 
                    #{item.BirId},
                    #{item.birthday},
                    #{item.createBy},
                    #{item.updateTime},
                    #{item.createTime},
                    #{item.nickname},
                    #{item.updateBy},
                    #{item.username},
                    #{item.status}
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="com.sfc.es.entity.po.Birthday">
        update birthday set
        <if test="updateBy != null">
            update_by = #{updateBy},
        </if>
        status = 0,
        update_time = now()
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </delete>
</mapper>
