<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfc.es.dao.MessageMapper">

    <resultMap id="BaseResultMap" type="com.sfc.es.entity.po.Message" >
        <result column="id" property="Id" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="description" property="description" />
        <result column="title" property="title" />
        <result column="type" property="type" />
        <result column="content" property="content" />
        <result column="status" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `update_time`,
        `create_time`,
        `user_id`,
        `description`,
        `title`,
        `type`,
        `content`,
        `status`
    </sql>

    <select id="findPageInfo" parameterType="com.sfc.es.entity.po.Message" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from message
        <where>
                    <if test="Id != null">
            and id = #{Id}
                    </if>
                    <if test="updateTime != null">
            and update_time = #{updateTime}
                    </if>
                    <if test="createTime != null">
            and create_time = #{createTime}
                    </if>
                    <if test="userId != null">
            and user_id = #{userId}
                    </if>
                    <if test="description != null">
            and description = #{description}
                    </if>
                    <if test="title != null">
            and title = #{title}
                    </if>
                    <if test="type != null">
            and type = #{type}
                    </if>
                    <if test="content != null">
            and content = #{content}
                    </if>
            and status = 1
        </where>
        order by id desc
    </select>


    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from message
        where id = #{id} and status= 1
    </select>

    <insert id="insert" parameterType="com.sfc.es.entity.po.Message" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into message (
            `id`,
            `update_time`,
            `create_time`,
            `user_id`,
            `description`,
            `title`,
            `type`,
            `content`,
            `status`
        )
        VALUES(
            #{Id},
            now(),
            now(),
            #{userId},
            #{description},
            #{title},
            #{type},
            #{content},
            #{status}
        )
    </insert>

    <update id="update" parameterType="com.sfc.es.entity.po.Message">
        update message
        <set>
        <if test="Id != null">
        </if>
        <if test="updateTime != null">
        </if>
        <if test="createTime != null">
        </if>
        <if test="userId != null">
                user_id = #{userId},
        </if>
        <if test="description != null">
                description = #{description},
        </if>
        <if test="title != null">
                title = #{title},
        </if>
        <if test="type != null">
                type = #{type},
        </if>
        <if test="content != null">
                content = #{content},
        </if>
        <if test="status != null">
                status = #{status},
        </if>
            update_time = now(),
        </set>
        where id = #{id}
    </update>

    <insert id="insertBatch" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        insert into message (
                    `id`,
                    `update_time`,
                    `create_time`,
                    `user_id`,
                    `description`,
                    `title`,
                    `type`,
                    `content`,
                    `status`
            )
            VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            ( 
                    #{item.Id},
                    #{item.updateTime},
                    #{item.createTime},
                    #{item.userId},
                    #{item.description},
                    #{item.title},
                    #{item.type},
                    #{item.content},
                    #{item.status}
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="com.sfc.es.entity.po.Message">
        update message set
        <if test="updateBy != null">
            update_by = #{updateBy},
        </if>
        status = 0,
        update_time = now()
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </delete>
</mapper>
