<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfc.es.dao.AlertMapper">

    <resultMap id="BaseResultMap" type="com.jinjue.po.Alert" >
        <result column="alert_id" property="alertId" />
        <result column="alert_name" property="alertName" />
        <result column="alert_start_time" property="alertStartTime" />
        <result column="alert_end_time" property="alertEndTime" />
        <result column="alert_type" property="alertType" />
        <result column="status" property="status" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <sql id="Base_Column_List">
        `alert_id`,
        `alert_name`,
        `alert_start_time`,
        `alert_end_time`,
        `alert_type`,
        `status`,
        `description`,
        `create_time`,
        `create_by`,
        `update_time`,
        `update_by`
    </sql>

    <select id="findPageInfo" parameterType="com.jinjue.po.Alert" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from alert
        where status = 1
        order by alert_id desc
    </select>


    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from alert
        where id = #{id} and status= 1
    </select>

    <insert id="insert" parameterType="com.jinjue.po.Alert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into alert (
        `alert_id`,
        `alert_name`,
        `alert_start_time`,
        `alert_end_time`,
        `alert_type`,
        `status`,
        `description`,
        `create_time`,
        `create_by`,
        `update_time`,
        `update_by`
        )
        VALUES(
        #{alertId},
        #{alertName},
        #{alertStartTime},
        #{alertEndTime},
        #{alertType},
        #{status},
        #{description},
        now(),
        #{createBy},
        now(),
        #{updateBy}
        )
    </insert>

    <update id="update" parameterType="com.jinjue.po.Alert">
        update alert
        <set>
            <if test="alertId != null">
                alert_id = #{alertId},
            </if>
            <if test="alertName != null">
                alert_name = #{alertName},
            </if>
            <if test="alertStartTime != null">
                alert_start_time = #{alertStartTime},
            </if>
            <if test="alertEndTime != null">
                alert_end_time = #{alertEndTime},
            </if>
            <if test="alertType != null">
                alert_type = #{alertType},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="createTime != null">
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="updateTime != null">
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            update_time = now(),
        </set>
        where id = #{id}
    </update>

    <insert id="insertBatch" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        insert into alert (
        `alert_id`,
        `alert_name`,
        `alert_start_time`,
        `alert_end_time`,
        `alert_type`,
        `status`,
        `description`,
        `create_time`,
        `create_by`,
        `update_time`,
        `update_by`
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.alertId},
            #{item.alertName},
            #{item.alertStartTime},
            #{item.alertEndTime},
            #{item.alertType},
            #{item.status},
            #{item.description},
            #{item.createTime},
            #{item.createBy},
            #{item.updateTime},
            #{item.updateBy}
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="com.jinjue.po.Alert">
        update alert set
        <if test="updateBy != null">
            update_by = #{updateBy},
        </if>
        status = 0,
        update_time = now()
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </delete>
</mapper>